.p1 {
	color: black;
	font-size: 20px;
	float: right;
	margin-right: 50px;
	margin-top: 30px;
	font-weight: bold;

}
.next1{
	margin-left: 10%;
}
.logs{
	margin-top: 30px;
}
.p2{
	margin-top: 20px;
	color:green;
}
.p3{
	font-weight: bold;
	margin-top: 50px;
	font-size: large;
	margin-left: 350px;
	font-size: 20px;
	color:black;
}
.dropdown{
	margin-right: 50px;
	color:;
}

.btn1{
	border-color: rgb(133,197,37);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	font-size: 20px;
	float: right;
	background-color: rgb(133,197,37);
	width: 200px;
	height: 50px;
}
.btn2{
	font-weight: bold;
	margin-top: 17px;
	font-size: 20px;
	float: right;
	border: 2px;
	background-color: transparent;
}
.dropdown-toogle{
	margin-right: 50px;
	color: black;
}
.kape{
	margin-top: 20px;
	width: 1400;
	height: 900;
}
.p5{
	font-size: 25px;
	margin-top: 100px;
	margin-left: 100px;
	font-weight: bold;
	font-family: cursive;
}
.p4{
	margin-top: 20px;
	font-size: 20px;
	font-family: cursive;
	margin-left: 75px;
	text-indent: center;
}
.btn7{
	margin-top: 20px;
	margin-left: 100px;
	color:black;
	font-size: 25px;
	height: 50px;
     width: 241px;
     background-color: transparent;
	border-color: black
}
.samok{
	margin-top: 	-100px;
	float: 	right;	
}
.btn6{
	margin-top: 10px;
	margin-left: 100px;
	color:white;
	border-collapse: all; 
	font-size: 25px;
	height: 50px;
     width: 250px;
     background-color: rgb(133,197,37);
	border-color: rgb(133,197,37);
}
.btn10{
	margin-top: 20px;
	width: 	1400px;
	height: 	100px;
	border-color: 	transparent;	
	background-color: rgb(251,252,252);
	font-weight: 	bold;	
	font-size: 	20px;
	font-stretch: 	condensed;	
}
.container-fluid{
	height: 500px;
	background-color: 	rgb(	229,244,254);
}

.magic{
	margin-left: 50%
}
.magic2{
	margin-left: 5%;
}
.magicitem{
	padding: 2.5%;
	
	height: 25px;

}
.magiciteem{
	height: 300px;
	 background-color: rgb(13,131,221);
}
.magiciteeem{
	height: 300px;
	 background-color: white;
}
.magicitem2{
	background-color: white;
}
.t2{
	padding-left: 5%;
	color:white;

}
.t1{
	color:white;
	font-size: 25px;
}
.bt2{
border-color: rgb(133,197,37);
	
	font-size: 20px;
	margin-left: 120px;
	background-color: white;
	width: 200px;
	height: 50px;
}
.magicitemm{
	background-color: white;

}
.bt3{
	margin-left: 40%;
	border-color: rgb(133,197,37);
	font-size: 20px;
	background-color: white;
	width: 200px;
	height: 50px;
}
.bt1{
	border-color: rgb(133,197,37);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	font-size: 20px;

	background-color: rgb(133,197,37);
	width: 200px;
	height: 50px;
}
.bt11{
	border-color: rgb(133,197,37);
	font-size: 20px;

	background-color: rgb(133,197,37);
	width: 200px;
	height: 50px;
}

.r1{
	font-size: 25px;
}
.container-fluid1{
	height: 100px;
	background-color:white;
}
.annd{
	color:white;
}
.n1{
	color:black;
font-weight: 	bold;	
	padding-top: 10px;
	font-size: 	1rem;
}
.clue{
	float:right;
	margin-top: 0%;

}
.text3rd{
	padding-left: 20%;
}
.text2nd{
	padding-top: 20px;
	padding-bottom: 5px;
	color:rgb(21,117,171);
}
.kape{
	padding-top:0px;
	padding-bottom: 0px;
	color:black;
	font-family: arial;
	font-size: 20px;

}
.kape1{
	margin-left: 	30px;
	border-radius: 	10px;
	height: 50px;
	background-color: white;
	width: 	200px;
	border-color:rgb(137,119,119);
	
}

.kape4{
	margin-left: 	30px;
	
	height: 50px;
	background-color: white;
	width: 	200px;
	border-color:rgb(137,119,119);
	
}


.fourth{
	color:rgb(13,131,221);
	height: 500px;
}




















