<template>
    <div class="box">
        
         <select name="logout" class="form-control " style="width:50px;margin-left:1250px;background-color:white;">
                              <option></option>
                              
                              <option>Log Out</option>
                              
                        </select>   
    </div>
                      </template>
<script>
export default {
    
}
</script>
<style scoped>
.box{
    background-color:rgb(50, 55, 61);
    width:1365px;
    height: 40px;
    position:absolute;

}
</style>