<template>
  <div>
    <div class="sidebar">
       <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
      <div class="magicbackground img bg-wrap text-center py-4">
          <div class="user-logo">
              <div class="magicimage img"></div>
              <h3 class="h33">June Cesar D. Sidon</h3>
              </div>
        </div>
      <ul class="list-unstyled components mb-5">
      <router-link to="/Dashboard" class="">

          <!-- DIDI BUTANG -->
           <li class="active1">
            <a href="#">
            <svg class="iconic bi bi-pie-chart-fill" viewBox="0 0 16 16"  fill="pink">
            <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5zM8.5.015V7.5h7.485A8.001 8.001 0 0 0 8.5.015z"/>
            </svg>
            Dashboard</a>
          </li>
        
      </router-link>
      <router-link to="/Patron" class="">
      
          <li class="active">
            <a href="patron.html"><img class="icons" src="../assets/images/pm.png">
            Patron Management</a>
            </li>
        
      </router-link>
      <router-link to="/Book" class="">
        
        <li class="active3">
            <a href="book.html"><span><img class="icons" src="../assets/images/bm.png"></span>
            Book Management</a>
            </li>
         <!-- DIDI BUTANG -->
        </router-link>
      <router-link to="/Settings" class="">
      
             <li class="active4">
            <a href="settings.html"><span><img class="icons" src="../assets/images/setting.png"></span>
             
            Settings</a>
            </li>
          <!-- DIDI BUTANG -->
          
        
      </router-link>
    </ul>
      </nav>
    </div>
    </div>
  </div>
</template>
<script>
export default {
     
};
</script>
