<template>
  <div id="app">
    <SideBar />
    <div class="main-content">
      <div class="container pt-4">
          <div class="addBookrow">

            <!--          ADDBook                           -->
            <b-modal id="AddBook" title="Add Book" hide-header-close ref="modal" >

          <div class="modal-body p-4">
             <button class="TRY" @click="HideModal"><span aria-hidden="true">&times; </span></button>
               <form id="AddBook" ref="modal">
                   <div class="form-group">
                   <input id="Name"  v-model="Form.Name" type="text" name="name" class="form-control form-control-lg" placeholder="Book Name ">
                   </div>
                   <div class="form-group">
                   <input id="Author"  v-model="Form.Author" type="text" name="Author" class="form-control form-control-lg" placeholder="Author ">
                   </div>
                   <div class="form-group">
                  <input  id="CopiesAvailable" placeholder="CopiesAvaiable" v-model="Form.CopiesAvailable" type="text" name="CopiesAvailable" class="form-control form-control-lg" >
                  </div>
                  <div class="form-group">
                  <input id="Category" placeholder="Category" v-model="Form.Category" type="text" name="email" class="form-control form-control-lg" value="Email Address" required>
               </div> 
               </form>
            </div>
             <template #modal-footer class="float-right">
              <div class="w-100 float-right">
                <button type="button" class="btndesigns btn btn-info btn-block btn-lg" @click="AddBook" >Register</button>
              </div>
             </template>
            </b-modal>

            <!--        ADD Book  -->
          </div>        
          <div class="updateBook">
              <!-- UpdateBook -->
        <b-modal
          id="UpdateBook" title="Update Book" centered modal-header no-close-on-backdrop no-close-on-esc hide-header-close ref="modal">
             <div class="modal-body p-4">
             <button     @click="HideModal" class="TRY"><span aria-hidden="true">&times; </span></button>
               <form id="AddBook" ref="modal">
                   <div class="form-group">
                   <input id="Name"  v-model="Form.Name" type="text" name="name" class="form-control form-control-lg" placeholder="Input Firssst Name ">
                   </div>
                   <div class="form-group">
                   <input id="Author"  v-model="Form.Author" type="text" name="Author" class="form-control form-control-lg" placeholder="Input Middle Name ">
                   </div>
                   <div class="form-group">
                  <input  id="CopiesAvailable" placeholder="Input Last Name" v-model="Form.CopiesAvailable" type="text" name="CopiesAvailable" class="form-control form-control-lg" >
                  </div>
                  <div class="form-group">
                  <input id="Category" placeholder="Input Email Address" v-model="Form.Category" type="text" name="email" class="form-control form-control-lg" value="Email Address" required>
               </div> 
               </form>
            </div>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="btndesigns btn btn-info btn-block btn-lg" @click="UpdateBook(SelectedBook)"> Update Book </button>    
            </div>
          </template>
        </b-modal>

          </div>
     

        
        <b-modal size="300px" hide-header  id="DeleteModal"  centered ref="modal">
          <h3 class="text-center">Are you sure you want to Delete?</h3>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
             
              <button type="button" class="promptt btn btn-danger" data-dismiss="modal" block @click="DeleteBook(SelectedBook)" > Yes
              </button>
               <button type="button" class="promptt btn btn-success mr-2" block @click="$bvModal.hide('DeleteModal')" > Cancel </button>
            </div>
          </template>
        </b-modal>
      </div>
    </div>
        
    <div class="background-col">
       </div>
         <div class="contador">
        
      <div class="container">
        <div class="row mt-3">
         
   <a href="#" class="titles dropdown-toogle" data-toogle="dropdown">Book MANAGEMENT <b class="caret"></b></a>
          <div class="col-lg-6">
               
            <button  class="btn btn-info" v-b-modal.AddBook @click="$bvModal.show('AddBook')">
              <img class="addicon" src ="./assets/images/userplus.png">
               &nbsp;&nbsp;
               Add Book
            </button>
          </div>
          <div class="col-lg-6">
            <input class="search-box" type="text" name="" placeholder="Search...">
          </div>
        </div>
        <hr class="bg-dark">
        <div class="row">
            <div class="col-md-12">
           
             <table class="table  table-bordered mt-5">
              <thead class="">
                <tr>
                 <th>#</th>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Copies Available</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Borrow</th>
                    <th>Return</th>
                 </tr>
              </thead>
              <tbody>
                <tr v-for="(Book, index) in BookModelFilter" :key="index">
                  <td>{{ index }}</td>
                  <td>
                    {{ Book.Name }}
                  </td>
                  <td>
                    {{ Book.Author}}
                  </td>
                  <td>
                    {{ Book.CopiesAvailable}}
                  </td>
                  <td>
                    {{ Book.Category }}
                  </td>
                 
                  <td class="text-center">
                    <a href="#"> <img src="./assets/images/edit.png"  width="30px" height="30px" @click="ToBeUpdated(index)" v-b-modal.UpdateBook >
                    </a>
                  </td>
                  <td class="text-center" >
                     <a href="#" @click="SelectedBook = index" v-b-modal.DeleteModal ><img src="./assets/images/delete.png" width="30px" height="30px"> </a>
                  </td>
                  <td class="text-center" >
                     <a href="#"><img src="./assets/images/adduser.png" width="30px" height="30px"> </a>
                  </td>
                  <td class="text-center" >
                     <a href="#"><img src="./assets/images/return.png" width="30px" height="30px"> </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    
    </div>

  </div>
</template>
<script src="./assets/js/bookscript.js"></script>
<script>
import bookscript from './assets/js/bookscript.js'
export default bookscript;
</script>
<style>

</style>