<template>
  <div id="app">
    <SideBar />
    <div class="main-content">
      <div class="container pt-4">
          <div class="addpatronrow">

            <!--          ADDPATRON                           -->
            <b-modal id="AddPatron" title="Add Patron" hide-header-close ref="modal" >
                
          <div class="modal-body p-4">
             <button    class="TRY " @click="HideModal" ><span aria-hidden="true">&times; </span></button>
               <form id="AddPatron" ref="modal">
                   <div class="form-group">
                   <input id="FirstName"  v-model="Form.FirstName" type="text" name="name" class="form-control form-control-lg" placeholder="First Name ">
                   </div>
                   <div class="form-group">
                   <input id="MiddleName"  v-model="Form.MiddleName" type="text" name="middlename" class="form-control form-control-lg" placeholder=" Middle Name ">
                   </div>
                   <div class="form-group">
                  <input  id="LastName" placeholder=" Last Name" v-model="Form.LastName" type="text" name="lastname" class="form-control form-control-lg" >
                  </div>
                  <div class="form-group">
                  <input id="EmailAddress" placeholder=" Email Address" v-model="Form.EmailAddress" type="text" name="email" class="form-control form-control-lg" value="Email Address" required>
               </div> 
               </form>
            </div>
             <template #modal-footer class="float-right">
              <div class="w-100 float-right">
                <button type="button" class="btndesigns btn btn-info btn-block btn-lg" @click="AddPatron" >Register</button>
              </div>
             </template>
            </b-modal>

            <!--        ADD PATRON  -->
          </div>        
          <div class="updatepatron">
              <!-- UpdatePatron -->
        <b-modal
          id="UpdatePatron" title="Update Patron" centered modal-header no-close-on-backdrop no-close-on-esc hide-header-close ref="modal">
             <div class="modal-body p-4">
             <button     @click="HideModal" class="TRY"><span aria-hidden="true">&times; </span></button>
               <form id="AddPatron" ref="modal">
                   <div class="form-group">
                   <input id="FirstName"  v-model="Form.FirstName" type="text" name="name" class="form-control form-control-lg" placeholder="Input First Name ">
                   </div>
                   <div class="form-group">
                   <input id="MiddleName"  v-model="Form.MiddleName" type="text" name="middlename" class="form-control form-control-lg" placeholder="Input Middle Name ">
                   </div>
                   <div class="form-group">
                  <input  id="LastName" placeholder="Input Last Name" v-model="Form.LastName" type="text" name="lastname" class="form-control form-control-lg" >
                  </div>
                  <div class="form-group">
                  <input id="EmailAddress" placeholder="Input Email Address" v-model="Form.EmailAddress" type="text" name="email" class="form-control form-control-lg" value="Email Address" required>
               </div> 
               </form>
            </div>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="btndesigns btn btn-info btn-block btn-lg" @click="UpdatePatron(SelectedPatron)"> Update Patron </button>    
            </div>
          </template>
        </b-modal>

          </div>
     

        <!-- Add Modal -->
      
      
        <!-- DeleteModal -->
        <b-modal  size="300px" hide-header id="DeleteModal"  centered ref="modal">
           <h3 class="text-center">Are you sure you want to Delete?</h3>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
           
             <button type="button" class="promptt btn btn-danger mr-2"  data-dismiss="modal" block @click="DeletePatron(SelectedPatron)" >
                Yes
              </button>
                <button type="button" class="promptt btn btn-success" block @click="$bvModal.hide('DeleteModal')">
                Cancel
              </button>
              
            </div>
          </template>
        </b-modal>
      </div>
    </div>
        
    <div class="background-col">
       </div>
         <div class="contador">
        
      <div class="container">
        <div class="row mt-3">
         
   <a href="#" class="titles dropdown-toogle" data-toogle="dropdown">PATRON MANAGEMENT <b class="caret"></b></a>
    
          <div class="col-lg-6">
               
            <button  class="btn btn-info" v-b-modal.AddPatron @click="$bvModal.show('AddPatron')">
              <img class="addicon" src ="./assets/images/userplus.png">
               &nbsp;&nbsp;
               Add Patron
            </button>
          </div>
          <div class="col-lg-6">
            <input class="search-box" type="text" name="" placeholder="Search...">
          </div>
        </div>
        <hr class="bg-dark">
        <div class="row">
            <div class="col-md-12">
           
             <table class="table table-hover table-bordered mt-5">
              <thead class="">
                <tr>
                 <th>#</th>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Date Registered</th>
                    <th>Edit</th>
                    <th>Delete</th>
                 </tr>
              </thead>
              <tbody>
                <tr v-for="(Patron, index) in PatronModelFilter" :key="index">
                  <td>{{ index }}</td>
                  <td>
                    {{ Patron.FirstName + " " + Patron.MiddleName + " " + Patron.LastName }}
                  </td>
                  <td>
                    {{ Patron.EmailAddress }}
                  </td>
                  <td>
                    {{
                      Patron.PatronDateRegistered | dateFormat("DD MMMM, YYYY")
                    }}
                  </td>
                  <td class="text-center">
                    <a href="#"> <img src="./assets/images/edit.png"  width="30px" height="30px" @click="ToBeUpdated(index)" v-b-modal.UpdatePatron >
                    </a>
                  </td>
                  <td class="text-center" >
                     <a href="#" @click="SelectedPatron = index" v-b-modal.DeleteModal ><img src="./assets/images/delete.png" width="30px" height="30px"> </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    
    </div>

  </div>
</template>
<script src="./assets/js/patronscript.js"></script>
<script>
import patronscript from './assets/js/patronscript'
export default patronscript;
</script>
<style>
.promptt{
  width:150px;
  display: flex;
  
  margin-left:50px;
}
</style>