<template>
  <div id="app">
    <SideBar/>
    <!-- <NavBar /> -->
    <div class="background-col">
    </div>
  </div>
</template>

<script>





import SideBar from "./components/SideBar";
export default {
  mounted(){
    document.title = "Settings"
  },
  components: { 
    SideBar
    },
};
</script>

