body{
    background-color: #F6D365;
}
 #overlay{
            position: fixed;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;
            background: rgba(0,0,0,0.6);
}
.come{
	 position: absolute;
	 left: 35%;


}
.iconic{
	width:1.5em;
	height:1.5em;

}
.addicon{
	 height:36px; width:42px;
	 
}
.iconss{
	width:30px; 
	height:30px;
	border-radius: 	50%;
}
.icons{
	width:30px; 
	height:30px;
}
.magicimage{
    background-image: url(../images/logo.jpg);
    
}
.h33{
    position: absolute;
    left:67px;
    top:131px;
}
.magicbackground{
    background-image: url(../images/bg_1.jpg);
    height:187px;
}

.btn24{
	margin-left: 20%;
	border-width: 1px #0000;
	border-color: green;
	background-color: #F6D345;
}
.modal-header{
	background-color: rgba(249, 223, 144, 0.7188);
}
.tableheads{
  table-layout: fixed;
  border: 4px solid black;
}
.search-box{
	padding-top: 1%;
	margin-left:10%;
	width: 300px;
  height: 50px;
  padding-right:10%;
}
.modal-body{
	background-color:rgba(246, 211, 101, 1);
}
.tablecount{
	background-color: 	#F6D365	;
}
.table{
	border-color: 	black;
	border-width: 	0.2rem;
}
.imgbg{
	background-image: url(../images/bg_1.jpg);
}
.column {
	float: right;
	color:black;
	width: 50%;
	padding-top: 15%;
	height: 300px; 
	
}
.dropbtn {
  background-color: #3498DB;
  color: white;
 
  height: 35px;
  width:  35px;
  border: none;
  cursor: pointer;
  border-radius:  45%;    
  background-image: url(../images/logout.png);

}


.dropbtn:hover, .dropbtn:focus {
  background-color: #F63D65;
}
.dropdown1 {
 
  margin-left:  91%;
  
}

.dropdown-content {
  display: none;

  position: absolute;
  background-color: #F63D65 ;
  min-width: 90px;
  border-radius:  10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
.titles1{
  padding-left:   28%;

}
.titles{
  padding-left:   35%;
  font-weight:  bolder; 
  color:black;
  font-size:  25px;
}
.titles2{
  padding-left:   31%;
}
.titles3{
  padding-left:   38.2%;
}
.containerr{
    padding-top:48px;
    padding-right: 13px;
    background-color:#F6D365;
    position: absolute;
    top:0px;
    left:300px;
    width: 1066px;
    height: 657px;
}
.wrapper{
    height: 0px;
    background-color: #F6D365;

}
.contador{
  width: 900px;
  height:300px;
  background-color: #F6D365;
  
    top:42px;
    left:363px;
    position: absolute;
    
}
.background-col{
  background-color:#F6D365;
  width:1365px;
  height:657px;
}

.btndesigns{
  position: absolute;
  left:0px;
  top:352px;
}

.TRY{
  position:absolute;
  top:-70px;
  left:415px;
  font-weight: bold;
  font-size:30px;
  border:none;
  background-color: transparent;
}
#modal-footer{
  background-color:black;
}
.promptt{
  width:150px;
  display: flex;
  
  margin-left:50px;
}